.main{
    display: flex;
   position: absolute;
   top: 90px;
   background-color: white;
   width: 70%;
  border-radius: 50px;
  margin-left: 190px;
  margin-top: 42px;
  -webkit-box-shadow: 5px 5px 15px 5px #FF8080, -9px 5px 15px 5px #FFE488, -7px -5px 15px 5px #8CFF85, 12px -5px 15px 5px #80C7FF, 12px 10px 15px 7px #E488FF, -10px 10px 15px 7px #FF616B, -10px -7px 27px 1px #8E5CFF, -1px -2px 6px 0px rgba(0,0,0,0); 
box-shadow: 5px 5px 15px 5px #FF8080, -9px 5px 15px 5px #FFE488, -7px -5px 15px 5px #8CFF85, 12px -5px 15px 5px #80C7FF, 12px 10px 15px 7px #E488FF, -10px 10px 15px 7px #FF616B, -10px -7px 27px 1px #8E5CFF, -1px -2px 6px 0px rgba(0,0,0,0);
}
.text{
    margin-left: 30px;
font-size: 18px;
}
.card{
    width: 100%;
}
.Phot{
    border-radius: 50px;
}
body{
    padding: 0px;
    margin: 0px;
    
}
.flexr{
    margin: 30px;
}
@media screen and (max-width: 950px){
    .main{
        width: 60%;
        margin-left: 150px;
        margin-top: 30px;
    }
    .Phot{
        width: 200px;
    }
    .flexr{
        margin: 70px;
    }
}
@media screen and (max-width: 770px){
    .main{
        width: 60%;
        margin-left: 130px;
margin-top: 30px;
    }
    .Phot{
        width: 100px;
    }
    .flexr{
        margin: 70px;
    }
    .text{
        margin-left: 10px;
        font-size: 7px;
    }
}
@media screen and (max-width: 600px){
    .main{
        width: 52%;
        margin-left: 130px;
margin-top: 30px;
    }
    .Phot{
        width: 100px;
    }
    .flexr{
        margin: 70px;
    }
    .text{
        margin-left: 10px;
        font-size: 7px;
    }
}
@media screen and (max-width: 500px){
    .main{
        width: 52%;
        margin-left: 130px;
margin-top: -20px;
    }
    .Phot{
        width: 100px;
    }
    .flexr{
        margin: 70px;
    }
    .text{
        margin-left: 7px;
        font-size: 7px;
    }
}